<div class="row">
  <form class="confirm-row" #form="ngForm" (ngSubmit)="submitForm()">
    <p>Full Name:</p>
    <input type="text" name="fullName" required minlength="3" maxlength="50" placeholder="Minimum 3 characters" [(ngModel)]="fullName">
    <p>Address:</p>
    <input type="text" name="address" required minlength="6" maxlength="200" placeholder="Minimum 6 characters" [(ngModel)]="address">
    <p>Credit Card Number:</p>
    <input type="text" name="creditCardNumber" required minlength="16" maxlength="16" placeholder="16 digits number" [(ngModel)]="creditCardNumber">
    <p>We'll never share your payment infomation with anyone.</p>
    <input class="primary" type="submit" [disabled]="form.invalid" value="Submit">
  </form>
</div>

